.bcolor{
    background-color: black ;
}

.nbcolor{
    background-color: lavender;
}

.w{
    color: lavender;
}

.bb{
    color: black;
}

.chill{
    background-color:gold;

}




